

.greenLine {
    height: 4px;
    width: 100px;
    background-color: #ACF39D;
    position: relative;
    margin-left: 5%;
    border-radius: 25px;
}

#topOfAbout{
    background-image: url(../imagens/quem-somos-leve.jpg);
    background-size: cover;
    background-position: center;
    padding: 140px 0;
    position: relative;
}

#overlayPhotoAbout{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#aboutTitle{
    position: relative;
    padding: 0 5%;
    font-size: 2rem;
}

#explainAbout{
    margin-top: 40px;
}
#explainAbout p{
    margin-top: 16px;
    margin-left: 8px;
}


.txtMain{
    border-left: solid 3px #ACF39D;
    padding: 0 8px;
    margin-top: 16px;
}

#overlayPhotoContact{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 768px) {

    #topOfAbout{
        padding: 15% 0;
    }

    #aboutTitle {
        font-size: 5rem;
        margin-left: 5%;
    }

    .greenLine {
        height: 4px;
        width: 15%;
        margin-left: 10%;

    }

    #explainAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardAbout{
        padding: 16px;
        border-radius: 5px;
        width: 1000px;
        box-shadow: 2px 2px 10px #ACF39D;
    }
    
}